/* open-sans-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v40-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/open-sans-v40-latin-300italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v40-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/open-sans-v40-latin-500italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v40-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v40-latin-600italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v40-latin-800.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v40-latin-800italic.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
header {
  background-color: #181818;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
}
header #mobile-sidebar-toggle {
  height: 80%;
  cursor: pointer;
}
header #mobile-sidebar-toggle img {
  height: 100%;
  display: block;
}
header img#logo {
  width: 140px;
  display: flex;
}

#main-sidebar {
  background-color: #181818;
  height: calc(100vh - 40px);
  width: 185px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  #main-sidebar {
    position: fixed;
    right: 0;
    top: 41px;
    transform: translateX(100%);
    transition: transform 0.3s;
  }
  #main-sidebar.visible {
    transform: translateX(0%);
  }
}
#main-sidebar nav#main-navigation ul {
  list-style: none;
  padding: 0;
  padding-top: 4px;
}
#main-sidebar nav#main-navigation ul li img.nav-icon {
  width: 20px;
  height: auto;
  margin-right: 17px;
}
#main-sidebar nav#main-navigation ul li a {
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

#edit-sidebar {
  height: 100%;
  width: 220px;
  background-color: #1C1C1C;
  height: calc(100vh - 40.3px);
}
#edit-sidebar select {
  width: 75%;
}
#edit-sidebar label {
  font-weight: 300;
  margin-bottom: 0.35rem;
}
#edit-sidebar input#save {
  width: 75%;
}
@media screen and (max-width: 767px) {
  #edit-sidebar {
    width: 100%;
    height: fit-content;
  }
  #edit-sidebar .sidebar-container {
    max-width: 510px;
    margin: auto;
  }
  #edit-sidebar input#save, #edit-sidebar select {
    max-width: 10rem;
  }
}

.visualization {
  background-color: #242424;
  border: solid 1px #363636;
}
.visualization .title-container {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  padding: 0.65rem;
}
.visualization .title-container h3.title, .visualization .title-container h3.label {
  font-size: 1.25rem;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .visualization .title-container h3.title, .visualization .title-container h3.label {
    font-size: 1rem;
  }
}
.visualization .title-container .buttons {
  display: flex;
}
.visualization .title-container .buttons button {
  background-color: #3C3C3C;
  color: white;
  border-radius: 18%;
  cursor: pointer;
}
.visualization .title-container .buttons button.edit,
.visualization .title-container .buttons button.delete {
  padding: 0.3rem 0.45rem;
}
.visualization .title-container .buttons button.edit img,
.visualization .title-container .buttons button.delete img {
  display: block;
  width: 1.125rem;
}
.visualization .title-container .buttons button.edit,
.visualization .title-container .buttons .priority {
  margin-right: 0.25rem;
}
.visualization .title-container .buttons .priority {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.visualization .title-container .buttons .priority button.up,
.visualization .title-container .buttons .priority button.down {
  display: block;
}
.visualization .title-container .buttons .priority button.up img,
.visualization .title-container .buttons .priority button.down img {
  display: block;
  width: 0.65rem;
}
.visualization .output, .visualization .params {
  padding: 0.65rem;
}

#edit-content .add-block-container {
  margin: 1.3rem 0;
}
#edit-content .add-block-container.end {
  display: none;
}
#edit-content .add-block-container.end.visible {
  display: block;
}
#edit-content .add-block-container.add-in-between .add-block-button {
  background-color: rgba(0, 0, 0, 0);
  border: dashed 1px #363636;
  color: #777;
  transition: 0.3s;
}
#edit-content .add-block-container.add-in-between .add-block-button:hover,
#edit-content .add-block-container .add-block-button {
  width: 100%;
  padding: 0.25rem 0;
  background-color: #4F4F4F;
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
}
#edit-content .add-block-container.add-in-between .add-block-button:hover:focus-visible, #edit-content .add-block-container.add-in-between .add-block-button:hover:focus,
#edit-content .add-block-container .add-block-button:focus-visible,
#edit-content .add-block-container .add-block-button:focus {
  border: none;
  outline: none;
}
#edit-content .add-block-container .add-block-dropdown {
  position: relative;
  display: none;
  top: 0;
  left: 0;
  background-color: #181818;
  width: 100%;
  padding: 1.25rem;
}
#edit-content .add-block-container .add-block-dropdown.visible {
  display: block;
}
#edit-content .add-block-container .add-block-dropdown h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
#edit-content .add-block-container .add-block-dropdown ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0.4rem;
}
#edit-content .add-block-container .add-block-dropdown ul li {
  cursor: pointer;
  border-bottom: solid 0.5px #4F4F4F;
  padding: 0.5rem 0;
  transition: background-color 0.2s;
}
#edit-content .add-block-container .add-block-dropdown ul li:hover {
  background-color: #1E1E1E;
}
#edit-content .add-block-container .add-block-dropdown ul li:last-child {
  border-bottom: none;
}
#edit-content .add-block-container.show-block-selection .add-block-dropdown {
  display: block;
}
#edit-content .add-block-container.show-block-selection .add-block-button {
  display: none;
}
#edit-content .add-block-container.show-form-container .block-form-container {
  display: block;
}
#edit-content .add-block-container.show-form-container .add-block-button {
  display: none;
}
#edit-content .block-form-container {
  width: 100%;
  background-color: #181818;
  display: none;
  padding: 1.25rem;
  position: relative;
}
#edit-content .block-form-container h3 {
  font-size: 1.5rem;
}
#edit-content .block-form-container label {
  display: block;
  margin-bottom: 0.2rem;
}
#edit-content .block-form-container .input-fieldset {
  padding: 0.5rem 0rem;
}
#edit-content .block-form-container .input-fieldset input[type=text],
#edit-content .block-form-container .input-fieldset textarea {
  width: 100%;
}
#edit-content .block-form-container button[type=submit] {
  background-color: #3DA99A;
  color: white;
  padding: 0.25rem 2.5rem;
  margin-top: 1rem;
}
#edit-content #blocks {
  display: flex;
  flex-direction: column;
}
#edit-content #blocks .block-vis-container.show-form-container > .block-form-container {
  display: block;
}
#edit-content #blocks .block-vis-container.show-form-container > .block-vis {
  display: none;
}
#edit-content #blocks .block-vis-container.last-vis .add-block-container.add-in-between {
  display: none;
}
#edit-content .dropdown-close,
#edit-content .block-form-close {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  padding: 0.25rem;
  background-color: #3C3C3C;
  cursor: pointer;
}
#edit-content .dropdown-close img,
#edit-content .block-form-close img {
  width: 0.7rem;
  display: block;
}
#edit-content #message-title,
#edit-content #message-saved {
  display: none;
}
#edit-content #message-title.visible,
#edit-content #message-saved.visible {
  display: block;
}

#edit-block .add-input-container {
  margin: 1.3rem 0;
}
#edit-block .add-input-container.add-in-between button.add-input {
  background-color: rgba(0, 0, 0, 0);
  border: dashed 1px #363636;
  color: #777;
  transition: 0.3s;
}
#edit-block .add-input-container#add-input-end {
  display: none;
}
#edit-block .add-input-container#add-input-end.visible {
  display: block;
}
#edit-block .add-input-container.add-in-between button.add-input:hover,
#edit-block .add-input-container button.add-input {
  width: 100%;
  padding: 0.25rem 0;
  background-color: #4F4F4F;
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
}
#edit-block .add-input-container.show-input-creation > button.add-input {
  display: none;
}
#edit-block .add-input-container.show-input-creation > .input-creation {
  display: block;
}
#edit-block .input-creation {
  background-color: #181818;
  display: none;
  padding: 1.25rem;
  position: relative;
}
#edit-block .input-creation h3 {
  font-size: 1.5rem;
}
#edit-block .input-creation .input-creation-close {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  padding: 0.25rem;
  background-color: #3C3C3C;
  cursor: pointer;
}
#edit-block .input-creation .input-creation-close img {
  width: 0.7rem;
  display: block;
}
#edit-block .input-creation .add-input-form .input-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#edit-block .input-creation .add-input-form .input-flex .input-setting {
  padding: 0.5rem 0rem;
  display: inline-block;
  width: 49%;
  flex-shrink: 0;
  display: none;
}
#edit-block .input-creation .add-input-form .input-flex .input-setting.visible {
  display: block;
}
#edit-block .input-creation .add-input-form .input-flex .input-setting label {
  display: block;
}
#edit-block .input-creation .add-input-form .input-flex .input-setting input[type=text],
#edit-block .input-creation .add-input-form .input-flex .input-setting textarea,
#edit-block .input-creation .add-input-form .input-flex .input-setting select {
  width: 100%;
}
#edit-block .input-creation .add-input-form button.submit-input {
  background-color: #3DA99A;
  color: white;
  padding: 0.25rem 2.5rem;
  margin-top: 1rem;
}
#edit-block #input-fields {
  display: flex;
  flex-direction: column;
}
#edit-block #input-fields .input-vis-container.show-input-creation > .input-vis {
  display: none;
}
#edit-block #input-fields .input-vis-container.show-input-creation > .input-creation {
  display: block;
}
#edit-block #input-fields .input-vis-container.last-vis .add-in-between {
  display: none;
}
#edit-block #message-success {
  display: none;
  opacity: 1;
  animation: fadeOut 1s ease 3s forwards;
}
#edit-block #message-success.visible {
  display: block;
}
#edit-block #message,
#edit-block #name-error,
#edit-block #message-saved {
  display: none;
}
#edit-block #message.visible,
#edit-block #name-error.visible,
#edit-block #message-saved.visible {
  display: block;
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

#edit-menu #content-selection {
  margin-top: 1.6rem;
  background-color: #181818;
  padding: 0.875rem 1.5rem;
  display: none;
}
#edit-menu #content-selection.visible {
  display: block;
}
#edit-menu #content-selection h3 {
  font-size: 1.25rem;
  font-weight: 400;
}
#edit-menu #content-selection table#content-list tr {
  border-bottom-color: #4F4F4F;
}
#edit-menu #content-selection table#content-list button {
  background-color: #406DD2;
  color: white;
  padding: 0.1rem 0.5rem;
}
#edit-menu #entries {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
#edit-menu #entries .entryVis {
  display: flex;
  padding: 0.5rem 0;
}
#edit-menu #entries .entryVis .buttons {
  margin-left: 1.5rem;
  display: flex;
}
#edit-menu #entries .entryVis .buttons button {
  background-color: #3C3C3C;
  color: white;
  border-radius: 18%;
  display: block;
}
#edit-menu #entries .entryVis .buttons button img {
  display: block;
}
#edit-menu #entries .entryVis .buttons .priority {
  display: flex;
}
#edit-menu #entries .entryVis .buttons .priority button {
  padding: 0.3rem 0.8rem;
  margin-right: 0.2rem;
}
#edit-menu #entries .entryVis .buttons .priority button img {
  width: 0.7rem;
}
#edit-menu #entries .entryVis .buttons button.remove {
  padding: 0.3rem 0.53rem;
}
#edit-menu #entries .entryVis .buttons button.remove img {
  width: 1.3rem;
}

#login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  position: relative;
  overflow: hidden;
}
#login #login-container {
  position: relative;
  z-index: 30;
}
#login #login-container img#logo {
  width: 22.25rem;
  margin-bottom: 3.5rem;
  max-width: 100%;
}
#login #login-container .login-input-container {
  padding-bottom: 1.7rem;
}
#login #login-container .login-input-container label {
  display: block;
  margin-bottom: 0px;
}
#login #login-container .login-input-container input {
  width: 100%;
  padding-left: 0.3rem;
}
#login #login-container #submit-login {
  background-color: #3DA99A;
  color: white;
  padding: 0.3rem 3.125rem;
  margin: auto;
  margin-top: 0.3rem;
  display: block;
}
#login .blob {
  position: absolute;
}
#login .blob#blob-red {
  width: 28.5rem;
  left: 0;
  bottom: 0;
  transform: translate(-10%, 10%);
  z-index: 20;
}
@media screen and (max-width: 767px) {
  #login .blob#blob-red {
    width: 16rem;
  }
}
#login .blob#blob-blue {
  width: 23.5rem;
  top: 0;
  right: 0;
  transform: translate(10%, -10%);
  z-index: 10;
}
@media screen and (max-width: 767px) {
  #login .blob#blob-blue {
    width: 14rem;
  }
}

#settings .settings-block {
  background-color: #242424;
  border: solid 1px #363636;
  width: 15.5rem;
  height: 15.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
#settings .settings-block .settings-icon {
  width: 7.85rem;
  display: block;
  margin-bottom: 0.5rem;
}
#settings .settings-block .settings-title {
  color: white;
  text-align: center;
}
#settings #documentation-link {
  margin-top: 8rem;
  margin-bottom: 4rem;
}
#settings #documentation-link button#documentation-link-button {
  background-color: #406DD2;
  padding: 1.25rem 2.5rem;
  display: block;
  color: white;
  margin: auto;
}

#setup {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  position: relative;
  overflow: hidden;
}
#setup img#logo {
  width: 22.25rem;
  margin-bottom: 3.5rem;
  max-width: 100%;
  z-index: 25;
}
#setup #setup-container {
  position: relative;
  z-index: 30;
  width: 22.25rem;
  max-width: 100%;
  background-color: #242424;
  border: solid 1px #363636;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
#setup .setup-input-container {
  padding-bottom: 1.7rem;
}
#setup .setup-input-container label {
  display: block;
  margin-bottom: 0px;
}
#setup .setup-input-container input {
  width: 100%;
  padding-left: 0.3rem;
}
#setup #submit-setup {
  background-color: #3DA99A;
  color: white;
  padding: 0.3rem 3.125rem;
  margin: auto;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  display: block;
}
#setup .blob {
  position: absolute;
}
#setup .blob#blob-green {
  width: 28.5rem;
  left: 0;
  top: 0;
  transform: translate(-10%, -4%);
  z-index: 20;
}
@media screen and (max-width: 767px) {
  #setup .blob#blob-green {
    width: 16rem;
  }
}
#setup .blob#blob-blue {
  width: 23.5rem;
  bottom: 0;
  right: 0;
  transform: translate(10%, 10%);
  z-index: 10;
}
@media screen and (max-width: 767px) {
  #setup .blob#blob-blue {
    width: 14rem;
  }
}

body {
  background-color: #1E1E1E;
  color: white;
  font-family: "Open Sans";
}

#main-wrapper {
  width: 100vw;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

main {
  width: 100%;
  flex-shrink: 1;
  border-left: solid #535151 0.2px;
  border-top: solid #535151 0.2px;
  background-color: #1E1E1E;
  padding: 1.125rem 1.875rem;
}

.main-container {
  padding: 1.125rem 1.875rem;
  width: 100%;
  height: calc(100vh - 40.3px);
  overflow: scroll;
  scrollbar-color: #3C3C3C rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  position: relative;
}
@media screen and (max-width: 767px) {
  .main-container {
    height: fit-content;
    overflow: visible;
  }
}

h1 {
  font-size: 1.4rem;
}

button,
input[type=submit],
input[type=text],
select {
  border: none;
}
button:focus, button:focus-visible,
input[type=submit]:focus,
input[type=submit]:focus-visible,
input[type=text]:focus,
input[type=text]:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
  border: none;
}

button,
input[type=submit],
select {
  cursor: pointer;
}

input[type=text] {
  border-radius: 0px;
}

button,
button.add-new,
button.radio-link {
  background-color: #3C3C3C;
  color: white;
  padding: 3px 10px;
}

button.radio-link {
  display: flex;
  align-items: center;
}
button.radio-link .radio-link-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #00081C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.35rem;
}
button.radio-link .radio-link-circle.active::before {
  content: "";
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #406DD2;
}

table {
  width: 100%;
}
table tr {
  border-bottom: solid 0.3px black;
}
table tr th,
table tr td {
  padding: 0.5rem 0;
}
table tr th a,
table tr td a {
  color: white;
}
table tr th {
  font-weight: 300;
}

table.collection {
  margin-top: 2rem;
}
table.collection button {
  background-color: #3C3C3C;
  color: white;
  padding: 0.3rem 0.53rem;
  border-radius: 18%;
}
table.collection button img {
  width: 1.15rem;
  display: block;
}

.breadcrumb-title {
  font-size: 1.375rem;
  font-weight: 300;
  position: sticky;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .breadcrumb-title {
    font-size: 1.1rem;
  }
}
.breadcrumb-title a {
  color: white;
}
.breadcrumb-title strong {
  font-weight: 400;
}

.edit-container {
  max-width: 510px;
  width: 100%;
  margin: auto;
  margin-top: 5.3rem;
  margin-bottom: 4rem;
}
.edit-container input#title,
.edit-container input#name {
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 2.25rem;
}
.edit-container input#title:focus, .edit-container input#title:active, .edit-container input#title:focus-visible,
.edit-container input#name:focus,
.edit-container input#name:active,
.edit-container input#name:focus-visible {
  outline: none;
  border-bottom: solid 1px white;
}
@media screen and (max-width: 767px) {
  .edit-container input#title,
.edit-container input#name {
    font-size: 1.7rem;
  }
}
.edit-container .error-message {
  color: #db1c1c;
  margin-top: 0.3rem;
  display: none;
}
.edit-container .error-message.visible {
  display: block;
}

.input-container label {
  display: block;
}
.input-container input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: solid 1px white;
  width: 100%;
  max-width: 18rem;
  color: white;
}
.input-container input:focus, .input-container input:focus-visible {
  outline: none;
}

input#save {
  background-color: #3DA99A;
  color: white;
  font-size: 1.125rem;
  padding: 0.2rem 1.8rem;
}

.message-saved {
  opacity: 1;
  animation: fadeOut 1s ease 3s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
#input-popup-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  display: none;
}
#input-popup-wrapper.visible {
  display: block;
}

#message-error {
  display: none;
}
#message-error.visible {
  display: block;
}

.key-field {
  position: relative;
}
.key-field.key-hidden .key {
  visibility: hidden;
}
.key-field.key-hidden .key-protection {
  display: block;
}
.key-field .key-protection {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

/*# sourceMappingURL=main.css.map */
