<%- include('layout/layoutStart.ejs') %>
<main id="edit-block" class="p-0">
    <div class="d-md-flex">
        <div class="main-container">
            <div class="breadcrumb-title">
                <a href="/blocks">Blocks</a> > <strong>Edit Block</strong>
            </div>
            <div class="edit-container">
                <div>
                    <input placeholder="Block Title" name="title" id="title" type="text" value="<%= data?.title?.trim() || '' %>">
                    <div class="error-message" id="message-title"></div>
                </div>
                <div class="input-container my-4">
                    <label for="key">Key</label>
                    <input type="text" name="key" id="key" value="<%= data?.key?.trim() || '' %>">
                    <div class="error-message" id="message-key"></div>
                </div>
                <div class="add-input-container">
                    <button class="add-input" type="button">+ add Input Field</button>
                    <div class="input-creation">
                        <h3>Add input field</h3>
                        <form class="add-input-form">
                            <div class="input-flex">
                                <div class="input-setting visible">
                                    <label for="type">Type</label>
                                    <select name="type" class="type">
                                        <option value="shortText">Short Text</option>
                                        <option value="longText">Long Text</option>
                                    </select>
                                    <div class="error-message message-type"></div>
                                </div>
                                <div class="input-setting visible">
                                    <label for="name">Name</label>
                                    <input type="text" class="name" title="name" name="name">
                                    <div class="error-message message-name"></div>
                                </div>
                                <div class="input-setting visible">
                                    <label for="label">Label</label>
                                    <input type="text" class="label" title="label" name="label">
                                    <div class="error-message message-label"></div>
                                </div>
                                <div class="input-setting visible">
                                    <label for="max-length">max-length</label>
                                    <input type="text" class="max-length" title="max-length" name="max-length">
                                    <div class="error-message message-max-length"></div>
                                </div>
                            </div>
                            <button type="submit" class="submit-input">save</button>
                        </form>
                    </div>
                </div>

                <div id="message-success">
                    <div class="alert alert-success">Block saved!</div>
                </div>

                <div id="input-fields"></div>

                <div id="input-popup-wrapper">
                </div>
            </div>
        </div>
        <aside id="edit-sidebar" class="p-4">
            <div class="sidebar-container">
                <form action="/blocks" method="POST" id="create-block">
                    <input id="save" type="submit" value="save">
                    <div class="alert alert-success mt-3" id="message-saved">Content saved!</div>
                    <div class="mt-4">
                        <strong class="mb-3">Created</strong>
                        <div>to be done...</div>
                    </div>
                    <div class="mt-4">
                        <strong class="mb-3">Last updated</strong>
                        <div>to be done...</div>
                    </div>
                </form>
            </div>
        </aside>
    </div>
</main>
<script src="/script/dist/editBlock.bundle.js" defer></script>
<%- include('layout/layoutEnd.ejs') %>