<%- include('layout/layoutStart.ejs') %>
<main id="settings" class="p-0">
    <div class="main-container">
        <h1>Settings</h1>
        <div class="d-flex flex-wrap">
            <a href="/settings/start-content">
                <div class="settings-block">
                    <div class="img-container">
                        <img src="/images/icons/home.png" alt="Home Page Icon" class="settings-icon home-icon">
                    </div>
                    <div class="settings-title">Start Content</div>
                </div>
            </a>
            <a class="ml-3" href="/settings/api-keys">
                <div class="settings-block">
                    <div class="img-container">
                        <img src="/images/icons/key.png" alt="API-Keys Icon" class="settings-icon">
                    </div>
                    <div class="settings-title">API-Keys</div>
                </div>
            </a>
            <!-- <a class="ml-3" href="/settings/cors-origins">
                <div class="settings-block">
                    <div class="img-container">
                        <img src="/images/icons/connection.png" alt="API-Keys Icon" class="settings-icon cors-icon">
                    </div>
                    <div class="settings-title">CORS-Origins</div>
                </div>
            </a> -->
        </div>
        <div id="documentation-link">
            <p class="text-center">Need help? You can find more<br> information in the documentation:</p>
            <a href="https://decupla-docs.nilsweidner.com/" target="_blank">
                <button id="documentation-link-button">read the documentation</button>
            </a>
        </div>
    </div>
</main>
<%- include('layout/layoutEnd.ejs') %>