header {
    background-color: $black1;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;

    #mobile-sidebar-toggle {
        height: 80%;
        cursor: pointer;

        img {
            height: 100%;
            display: block;
        }
    }

    img#logo {
        width: 140px;
        display: flex;
    }

    .logout-link {
        color: #ff3c3c;

        img {
            width: 1.3rem;
        }
    }
}