<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Decupla</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/style/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/style/main.css" rel="stylesheet" id="main-css">

</head>
<body>
    <header>
        <img id="logo" src="/images/logo_decupla.svg" alt="Decupla Logo">
        <div id="mobile-sidebar-toggle" class="d-md-none">
            <img src="/images/icons/menu.png" alt="Open Menu">
        </div>
        <div class="d-none d-md-block">Logged in as <strong><%= username %></strong></div>
    </header>
    <div id="main-wrapper">
    <% if(loggedIn === true){ %>
        <%- include('./sidebar.ejs') %>
    <% } %>