<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Decupla</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/style/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/style/main.css" rel="stylesheet" id="main-css">

</head>
<body>
    <% if(loggedIn === true){ %>
        <header>
            <img id="logo" src="/images/logo_decupla.svg" alt="Decupla Logo">
            <div id="mobile-sidebar-toggle" class="d-md-none">
                <img src="/images/icons/menu.png" alt="Open Menu">
            </div>
            <div class="d-none d-md-flex justify-content-md-end">
                <div>
                    Logged in as <strong><%= username %></strong>
                </div>
                <a href="/logout" class="logout-link d-flex align-items-center ml-3">
                    <img class="mr-1" src="/images/icons/logout.png" alt="">
                    logout
                </a>
            </div>
        </header>
        <div id="main-wrapper">
            <%- include('./sidebar.ejs') %>
    <% } %>