<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Decupla</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/style/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body class="d-flex">
    <aside class="bg-light mr-5">
        <div class="p-4">
            <a href="/content">Content</a>
        </div>
        <div class="p-4">
            <a href="/users">Users</a>
        </div>
        <div class="p-4">
            <a href="/roles">Roles</a>
        </div>
        <div class="p-4">
            <a href="/blocks">Blocks</a>
        </div>
        <div class="p-4">
            <a href="/media">Media</a>
        </div>
    </aside>
    <main>