<div id="media-popup-wrapper">
    <div id="media-popup">
        <div id="top-section">
            <div id="top-header">
                <div class="d-flex align-items-center">
                    <h3 class="mb-0">Select Media</h3>
                    <div class="ml-4">
                        <a href="/media/create" target="_blank"><button class="add-new">+ add new</button></a>
                    </div>
                </div>
                <div id="refresh-container">
                    <button id="refresh-button"><img src="/images/icons/refresh.png" alt="">refresh</button>
                    <div>New media added? Refresh library to view it!</div>
                </div>
            </div>
            <div id="media-row">
                <div class="media-box">
                    <div class="media-preview">
                        <img class="file-preview" src="/images/icons/file.png" alt="">
                    </div>
                    <div class="media-info">
                        <div>
                            <div class="title">dokument.pdf</div>
                            <div class="size">123 kB</div>
                        </div>
                    </div>
                </div>
                <div class="media-box">
                    <div class="media-preview">
                        <img class="image-preview" src="/uploads/r-d-smith-6aCfxBqpYaY-unsplash.jpg" alt="">
                    </div>
                    <div class="media-info">
                        <div>
                            <div class="title">r-d-smith-6aCfxBqpYaY-unsplash.jpg</div>
                            <div class="size">982 kB</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-section">
            <div class="d-flex">
                <button id="select">select</button>
                <button id="cancel">cancel</button>
            </div>
        </div>
    </div>
</div>