<aside id="main-sidebar">
    <nav id="main-navigation">
        <ul>
            <li>
                <a href="/content">
                    <img class="nav-icon" src="/images/icons/content.png" alt="Content Icon">
                    <span>Content</span>
                </a>
            </li>
            <% if (permissions.includes('manageMenus')){ %>
                <li>
                    <a href="/menus">
                        <img class="nav-icon" src="/images/icons/menus.png" alt="Menus Icon">
                        <span>Menus</span>
                    </a>
                </li>
            <% } %>
            <% if (permissions.includes('editContent')){ %>
                <li>
                    <a href="/media">
                        <img class="nav-icon" src="/images/icons/media.png" alt="Media Icon">
                        <span>Media</span>
                    </a>
                </li>
            <% } %>
            <% if (permissions.includes('manageUsers')){ %>
                <li>
                    <a href="/users">
                        <img class="nav-icon" src="/images/icons/users.png" alt="Users Icon">
                        <span>Users</span>
                    </a>
                </li>
            <% } %>
            <% if (permissions.includes('manageBlocks')){ %>
                <li>
                    <a href="/blocks">
                        <img class="nav-icon" src="/images/icons/blocks.png" alt="Blocks Icon">
                        <span>Blocks</span>
                    </a>
                </li>
            <% } %>
            <% if (permissions.includes('manageSettings')){ %>
                <li>
                    <a href="/settings">
                        <img class="nav-icon" src="/images/icons/settings.png" alt="Settings Icon">
                        <span>Settings</span>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</aside>