<aside class="bg-light mr-5">
    <div class="p-4">
        <a href="/content">Content</a>
    </div>
    <div class="p-4">
        <a href="/menus">Menus</a>
    </div>
    <div class="p-4">
        <a href="/users">Users</a>
    </div>
    <div class="p-4">
        <a href="/roles">Roles</a>
    </div>
    <div class="p-4">
        <a href="/blocks">Blocks</a>
    </div>
    <div class="p-4">
        <a href="/media">Media</a>
    </div>
</aside>