#edit-sidebar {
    height: 100%;
    width: 220px;
    background-color: $black3;
    height: calc(100vh - 40.3px);

    select {
        width: 75%;
    }

    label {
        font-weight: 300;
        margin-bottom: 0.35rem;
    }

    input#save {
        width: 75%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        height: fit-content;

        .sidebar-container {
            max-width: 510px;
            margin: auto;
        }

        input#save, select {
            max-width: 10rem;
        }
    }
}