@import 'variables';
@import 'fonts';
@import 'header';
@import 'sidebar';

body {
    background-color: $black2;
    color: white;
    font-family: 'Open Sans';
}

main {
    width: 100%;
    flex-shrink: 1;
    border-left: solid #535151 0.2px;
    border-top: solid #535151 0.2px;
    background-color: $black2;
    padding: 18px 30px;
}

h1 {
    font-size: 1.4rem;
}

button.add-new {
    background-color: $button1;
    color: white;
    border: none;
    padding: 3px 10px;
}


#inputPopupWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    display: none;

    &.visible {
        display: block;
    }
}

#inputPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fefefe;
}

#message-error {
    display: none;

    &.visible {
        display: block;
    }
}

// Edit Block Page
#message,#name-error {
    display: none;

    &.visible {
        display: block;
    }
}

.inputSetting {
    display: none;

    &.visible {
        display: block;
    }
}

#message-success {
    display: none;

    &.visible {
        display: block;
    }
}

// create content page
.addBlockDropdown {
    display: none;

    &.visible {
        display: block;
    }
}

#blockFormWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    &.visible {
        display: block;
    }

    #blockFormContainer {
        position: absolute;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
    }
}

#message-title, #message-saved {
    display: none;

    &.visible {
        display: block;
    }
}

// edit menu page
#contentSelection {
    display: none;

    &.visible {
        display: block;
    }
}

#entries {
    display: flex;
    flex-direction: column;

    .entryVis {
        display: flex;
    }
}