@import 'variables';
@import 'fonts';
@import 'header';
@import 'sidebar';
@import 'editSidebar';
@import 'visualization';
@import 'mediaPopup';
@import 'pages/editContent';
@import 'pages/editBlock';
@import 'pages/editMenu';
@import 'pages/login';
@import 'pages/settings';
@import 'pages/setup';
@import 'pages/media';
@import 'pages/editMedia';

body {
    background-color: $black2;
    color: white;
    font-family: 'Open Sans';
}

#main-wrapper {
    width: 100vw;
    position: relative;
    display: flex;
    overflow-x: hidden;
}

main {
    width: 100%;
    flex-shrink: 1;
    border-left: solid #535151 0.2px;
    border-top: solid #535151 0.2px;
    background-color: $black2;
    padding: 1.125rem 1.875rem;
}

.main-container {
    padding: 1.125rem 1.875rem;
    width: 100%;
    height: calc(100vh - 40.3px);
    overflow: scroll;
    scrollbar-color: $button1 rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    position: relative;

    @media screen and (max-width: 767px) {
        height: fit-content;
        overflow: visible;
    }
}

h1 {
    font-size: 1.4rem;
}

button,
input[type="submit"],
input[type="text"],
input[type="password"],
select {
    border: none;

    &:focus,&:focus-visible {
        outline: none;
        border: none;
    }
}

button,
input[type="submit"],
select {
    cursor: pointer;
}

input[type="text"],input[type="password"] {
    border-radius: 0px;
}

button,
button.add-new,
button.radio-link {
    background-color: $button1;
    color: white;
    padding: 3px 10px;
}

button.radio-link {
    display: flex;
    align-items: center;

    .radio-link-circle {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: $darkBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.35rem;

        &.active::before {
            content: '';
            height: 0.6rem;
            width: 0.6rem;
            border-radius: 50%;
            background-color: $blue;
        }
    }
}

table {
    width: 100%;

    tr {
        border-bottom: solid 0.3px black;

        th,
        td {
            padding: 0.5rem 0;

            a {
                color: white;
            }
        }

        th {
            font-weight: 300;
        }
    }
}

table.collection {
    margin-top: 2rem;

    button {
        background-color: $button1;
        color: white;
        padding: 0.3rem 0.53rem;
        border-radius: 18%;
    
        img {
            width: 1.15rem;
            display: block;
        }
    }
}

.breadcrumb-title {
    font-size: 1.375rem;
    font-weight: 300;
    position: sticky;
    top: 0;
    left: 0;

    @media screen and (max-width: 767px) {
        font-size: 1.1rem;
    }

    a {
        color: white;
    }

    strong {
        font-weight: 400;
    }
}

.error-message {
    display: none;

    &.visible {
        display: block;
    }
}

.edit-container {
    max-width: 510px;
    width: 100%;
    margin: auto;
    margin-top: 5.3rem;
    margin-bottom: 4rem;

    input#title,
    input#name {
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 2.25rem;

        &:focus,
        &:active,
        &:focus-visible {
            outline: none;
            border-bottom: solid 1px white;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.7rem;
        }
    }

    .error-message {
        color: #db1c1c;
        margin-top: 0.3rem;
    }
}

.input-container {
    label {
        display: block;
    }

    input {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: solid 1px white;
        width: 100%;
        max-width: 18rem;
        color: white;

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
}

input#save {
    background-color: $green;
    color: white;
    font-size: 1.125rem;
    padding: 0.2rem 1.8rem;
}

.toggle-visibility-wrapper {
    position: relative;

    .toggle-password-visibility {
        height: 1.5rem;
        width: 1.5rem;
        background-image: url("../images/icons/visibility.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.8;
        cursor: pointer;
    }
}

.message-saved {
    opacity: 1;
    animation: fadeOut 1s ease 3s forwards;
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

#input-popup-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    display: none;

    &.visible {
        display: block;
    }
}

#message-error {
    display: none;

    &.visible {
        display: block;
    }
}

.key-field {
    position: relative;

    &.key-hidden {
        .key {
            visibility: hidden;
        }

        .key-protection {
            display: block;
        }
    }

    .key-protection {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }
}

// Edit Block Page
// #message,
// #name-error {
//     display: none;

//     &.visible {
//         display: block;
//     }
// }

// create content page


// #blockFormWrapper {
//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.7);
//     display: none;

//     &.visible {
//         display: block;
//     }

// }

// #message-title,
// #message-saved {
//     display: none;

//     &.visible {
//         display: block;
//     }
// }