@import 'variables';
@import 'fonts';
@import 'header';
@import 'sidebar';
@import 'editSidebar';
@import 'pages/editContent';

body {
    background-color: $black2;
    color: white;
    font-family: 'Open Sans';
}

main {
    width: 100%;
    flex-shrink: 1;
    border-left: solid #535151 0.2px;
    border-top: solid #535151 0.2px;
    background-color: $black2;
    padding: 1.125rem 1.875rem;
}

.main-container {
    padding: 1.125rem 1.875rem;
    width: 100%;
    height: calc(100vh - 40.3px);
    overflow: scroll;
    scrollbar-color: $button1 rgba(0,0,0,0);
    scrollbar-width: thin;
}

h1 {
    font-size: 1.4rem;
}

button,input[type="submit"],select {
    border: none;
    cursor: pointer;
}

button.add-new,
button.radio-link {
    background-color: $button1;
    color: white;
    padding: 3px 10px;
}

button.radio-link {
    display: flex;
    align-items: center;

    .radio-link-circle {
        height: 1em;
        width: 1em;
        border-radius: 50%;
        background-color: $darkBlue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.35rem;

        &.active::before {
            content: '';
            height: 0.6em;
            width: 0.6em;
            border-radius: 50%;
            background-color: $blue;
        }
    }
}

table.collection {
    width: 100%;
    margin-top: 2rem;

    tr {
        border-bottom: solid 0.3px black;

        th,
        td {
            padding: 0.5rem 0;

            a {
                color: white;
            }
        }

        th {
            font-weight: 300;
        }
    }

    button {
        background-color: $button1;
        color: white;
        padding: 0.3rem 0.53rem;
        border-radius: 18%;
        cursor: pointer;

        img {
            width: 1.15rem;
            display: block;
        }
    }
}

.breadcrumb-title {
    font-size: 1.375rem;
    font-weight: 300;

    strong {
        font-weight: 400;
    }
}

.edit-container {
    max-width: 510px;
    width: 100%;
    margin: auto;
    margin-top: 5.3rem;

    input#title,input#name {
        width: 100%;
        color: white;
        background-color: rgba(0,0,0,0);
        border: none;
        font-size: 2.25rem;

        &:focus, &:active, &:focus-visible {
            outline: none;
            border-bottom: solid 1px white;
        }

        @media screen and (max-width: 767px)  {
            font-size: 1.7rem;
        }
    }
}

#inputPopupWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    display: none;

    &.visible {
        display: block;
    }
}

#inputPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
}

#message-error {
    display: none;

    &.visible {
        display: block;
    }
}

// Edit Block Page
#message,
#name-error {
    display: none;

    &.visible {
        display: block;
    }
}

.inputSetting {
    display: none;

    &.visible {
        display: block;
    }
}

#message-success {
    display: none;

    &.visible {
        display: block;
    }
}

// create content page


// #blockFormWrapper {
//     width: 100vw;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.7);
//     display: none;

//     &.visible {
//         display: block;
//     }

// }

#message-title,
#message-saved {
    display: none;

    &.visible {
        display: block;
    }
}

// edit menu page
#contentSelection {
    display: none;

    &.visible {
        display: block;
    }
}

#entries {
    display: flex;
    flex-direction: column;

    .entryVis {
        display: flex;
    }
}